# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# node.js
#
node_modules/
npm-debug.log

# Don't publish example apps
Examples/
Recipes/

# Don't publish testing code
bin/
test/

# Remove after this framework is published on NPM
code-push-plugin-testing-framework/

# Android build artifacts and Android Studio bits
android/app/build
android/local.properties
android/.gradle
android/**/*.iml
android/.idea


# Windows
windows/.vs/
windows/obj/

#Tests
windows/CodePush.Net46.Test

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.opendb
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#NuGet
packages/
*.nupkg

# VSCode
.vscode/

# IntelliJIDEA
.idea/


# Github
.github/

# Git
.git/

.watchmanconfig

